/* Light theme Default */
:root {
  --primary-color: #3b3b3b;
  --secondary-color: #536390;
  --primary-bg: #fff;
  --secondary-bg: #d3d3d3;
  --hr-color: #444;
  --mega-menu-bg: #e1e1e1;

  // Scrollbar
  --scrollbar-background: #fff;
  --scrollbar-thumb: #bcbcbc;
  --shadow-color: rgb(153, 152, 152);
  
  --error: orangered;
  --success: green;
  
  // Watch movie view
  --watch-movie-bg: #ffffff;
  --suggest-movie-bg: #a1a1a1;
  
  // Footer background color
  --footer-bg: #c4c4c4;
  
  --transition-speed: 200ms;
  --navbar-height: 56px;
  /* marquee */
  --marquee-width: 60vw;
  --marquee-height: 40vh;
  /* --marquee-elements: 9; */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 10s);
  
  --movie-card-height: 380px;
  --movie-card-width: 250px;
  --movie-card-small-height: calc(var(--movie-card-height) * 0.72);
  --movie-card-small-width: calc(var(--movie-card-width) * 0.72);
  --movie-card-transition-speed: 300ms;
}

/* Dark Theme */
[data-theme='dark'] {
  --primary-color: #ececec;
  --secondary-color: #b6b6b6;
  --primary-bg: #22254b;
  --secondary-bg: #373b69;
  --hr-color: #ddd;
  --mega-menu-bg: #212529;

  // Scrollbar
  --scrollbar-background: #383838;
  --scrollbar-thumb: #555;
  --shadow-color: #000;

    // Watch movie view
    --watch-movie-bg: #19272e;
    --suggest-movie-bg: #1c212e;

  // Footer background color
  --footer-bg: #131a22;
}
