::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background-color: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--scrollbar-thumb);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--scrollbar-background);
}

:root {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

// Input Autofill backgrounds transparent
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active  {
//   transition: background-color 5000s;
//   -webkit-text-fill-color: #fff !important;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  // transition: background var(--transition-speed) linear;
}

/* Visible content wrapper aimed to keep footer where it belongs */
#page-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Expand main section if page content less than full page */
#main {
  flex-grow: 1;
}

.center {
  text-align: center;
}

.pipe {
  color: var(--secondary-color);
  font-weight: 100;
}

.login-form {
  margin: 100px auto;
  width: 400px;
  border-radius: 5px;
  text-align: center;
}

.movie-year {
  font-weight: 100;
  font-size: 0.8em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--hr-color);
}

.weather-icon {
  vertical-align: middle;
}

// Custom button Primary
.btn-custom {
  border: 2px solid var(--secondary-bg);
  color: var(--primary-color);
  height: 38px;
  border-radius: 20px;
  background-color: var(--secondary-bg);
  padding: 0 1.8rem;
  white-space: nowrap;
  transition: all 100ms ease-in;
}
.btn-custom:hover {
  background-color: var(--primary-bg);
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
}
.btn-custom:focus {
  outline: none;
}
.btn-custom:active {
  background-color: var(--secondary-bg);
}

// Custom button Secondary
.btn-custom-sub {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  height: 38px;
  border-radius: 20px;
  background-color: unset;
  padding: 0 1rem;
  white-space: nowrap;
  transition: all 100ms ease-in;
}
.btn-custom-sub:hover {
  background-color: unset;
  border: 2px solid var(--primary-bg);
  color: var(--primary-color);
}
.btn-custom-sub:focus {
  outline: none;
}
.btn-custom-sub:active {
  background-color: var(--secondary-bg);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  &:hover,
  &:active {
    color: var(--primary-color);
  }
}

.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
