
/* DROPDOWN MEGA MENU */
.navbar .has-megamenu {
  position: static !important;
}
.navbar .megamenu {
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  border-radius: 0;
  border: none;
  margin: 0;
  white-space: normal;
  background-color: var(--mega-menu-bg);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 0 15px rgba(5, 5, 5, 0.3);

}

// Megamenu Movie
.section-movie {
  // background-color: #fff;
}

.megamenu-items-large {
  font-weight: 600;
  font-size: 1.3rem;
  padding-top: .5rem;
}

.megamenu-items-rating {
  font-weight: 600;
  padding-bottom: .8rem;
}

.megamenu-items-title {
  font-weight: 500;
  padding-bottom: 3rem;
  padding-top: .5rem;
  height: 2.5rem;
}

.megamenu-items-small {
  font-size: 0.85rem;
  color: var(--secondary-color);
}

.megamenu-items-controls {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  div {
    margin-right: 2rem;
  }
  button {
    transform: scale(.8);
  }
}

.poster-col {
  width: 185px;
}
.movie-poster {
  // background-color: blue;
  min-height: 245px;
  width: 160px;
  background-image: url(/img/12.jpg);
  background-size: cover;
}
.movie-data {
  // background-color: darkslategray;
  min-width: 280px;
}
.movie-genres {
  min-width: 290px;
  padding-left: 5%;
  min-width: 370px;
}

.movie-genres ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 17rem;
  li {
    margin-bottom: .7rem;
    text-transform: capitalize;
    padding-right: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}