nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.4rem;
  width: 110px;
  height: 43px;
  display: flex;
  align-items: center;
  font-weight: bold;
  .logo {
    display: flex;
    align-items: center;
    .brand-icon {
      width: 30px;
    }
  }
}

.navbar-nav {
  white-space: nowrap;
  width: 335px;
}

.navbar-nav li,
.menu li {
  font-size: 0.98rem;
}

.icon-bar {
  width: 25px; 
  height: 3px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

/* Burger menu Animation */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 5% 5%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 5% 100%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler:focus {
  box-shadow: none;
}

#search-container-nav {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  position: relative;
  width: 100%;
}
.search-form i {
  position: absolute;
  top: 33%;
  left: 0.8rem;
}

.search-input {
  background-color: var(--bg-secondary);
  width: 100%;
  height: 38px;
  color: white;
  border: 2px solid var(--bg-secondary);
  border-radius: 20px;
  padding: 0 3.5rem;
}
.search-input::placeholder {
  color: #bbb;
}
.search-input:focus {
  outline: none;
  border: 2px solid #ccc;
  background-color: var(--bg-primary);
}

.menu {
  white-space: nowrap;
  li {
    display: inline;
    list-style: none;
    padding: 0;
  }
}

.btn-custom {
  border: 2px solid var(--bg-secondary);
  color: var(--text-primary);
  height: 38px;
  border-radius: 20px;
  background-color: var(--bg-secondary);
  padding: 0 1.8rem;
  white-space: nowrap;
  transition: all 100ms ease-in;
}
.btn-custom:hover {
  background-color: var(--bg-primary);
  border: 2px solid var(--text-primary);
  color: var(--text-secondary);
}
.btn-custom:focus {
  outline: none;
}
.btn-custom:active {
  background-color: var(--bg-secondary);
}

/* Login modal */
.auth-modal {
  min-width: 305px;
  width: 380px;
  margin: 0 auto;
  margin-top: 8%;
}

.modal-content {
  background-color: $pt-primary-bgcolor;
  border: 1px solid $pt-secondary-bgcolor;
  color: $pt-primary-color;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 25px;
}

.auth-modal .link-close {
  color: $pt-primary-color;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 1;
  svg {
    opacity: 0.6;
    transition: opacity 75ms;
  }
  svg:hover {
    opacity: 0.9;
  }
}

#authTab {
  padding-top: 0;
  margin-top: 0;
  height: 0;
}

.auth-modal .modal-header {
  border-bottom: none;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
}

.auth-modal .modal-body {
  padding: 0 1rem;
}

.auth-modal form {
  margin-top: 2rem;
}

.auth-modal h3 {
  font-size: 26px;
  margin-top: 0;
}

.auth-modal .form-group {
  margin-bottom: .5rem;
}

.auth-modal .form-control {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  height: 40px;
  padding: 0;
  box-shadow: none !important;
  border: 1px solid #888;
  border-width: 0 0 1px 0;
  border-radius: 0;
  &:focus {
    border-color: #ddd;
  }
}

.auth-modal .auth-btn {
  margin-top: 1rem;
  width: 100%;
}

.auth-modal .btn {        
  font-size: inherit;
  font-weight: bold;
}

.auth-modal .modal-footer {
  text-align: center;
  border-top: 1px solid rgba(gray, 0.5);
}

.auth-modal a {
  color: inherit;
  text-decoration: none;
}

.auth-modal a:hover {
  text-decoration: underline;
}

.pw-message {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  a {
    margin: 0 auto;
  }
} 

#register-link {
  font-weight: bold;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
}

.nav-tabs {
  border: none;
  .nav-link {
    border: none;
    outline: none;
    border-radius: 0;
    &.active {
      background-color: unset;
      color: $pt-primary-color;
      font-size: 2rem;
    }
  }
}

/* Register form modal */
.form-errors {
  padding: 0.3rem 1rem;
  margin-top: 3px;
  background-color: rgb(112, 19, 19);
  border-radius: 5px;
}

.form-group {
  position: relative;
}
.form-group .small {
  min-height: 22px;
  font-size: 1rem;
  font-weight: 500;
  visibility: hidden;
}
.form-group.success input {
  border-bottom: 1px solid green !important;
}
.form-group.error input {
  border-bottom: 1px solid coral !important;
}
.form-group.error .small {
  color: coral;
  visibility: visible;
}

/* Show Hide Password */
.toggle-hide {
  font-size: 1rem;
  font-weight: 800;
  color: $pt-secondary-color;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: .8rem;
}
.toggle-hide-show {
  color: $pt-secondary-color !important;
}
.toggle-hide-hide {
  color: coral !important;
}
/* end show hide password */

/* Scaled feedback */
.pwmeter-container {
  margin-top: 2px;
}

.pwmeter {
  display: flex;
  justify-content: space-between;
  height: 1px;
  margin: 0 auto;
}
.pwmeter span {
  height: 1px;
  width: 33.3%;
  // background-color: #888;
  opacity: 0;
  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out;
}
.meter-span-on {
  opacity: 1 !important;
}
.meter-span-off {
  background-color: none !important;
}

.pwmessage-container {
  display: flex;
  margin: 0;
}
#passwordmessage {
  margin-top: 0.3rem;
  line-height: .8rem;
  font-size: 1rem;
  font-weight: 500;
}
/* end scaled feedback */

#btn-register {
  position: relative;
  .reg-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

