.navbar {
  font-weight: 400;
}

.navbar-custom, .megamenu, .dropdown-menu {
  color: inherit;
  a, .dropdown-item {
    color: var(--secondary-color);
  }
  a, .dropdown-item {
    &:hover, &:focus {
      color: var(--primary-color);
    } 
  }
}

.navbar-brand {
  font-size: 1.4rem;
  width: 110px;
  height: 42px;
  display: flex;
  align-items: center;
  font-weight: bold;
  .logo {
    display: flex;
    align-items: center;
    .brand-icon {
      width: 30px;
    }
  }
}

.navbar-nav {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
}

#site-menu .nav-link {
  line-height: 2rem;
}
#user-menu .lang {
  line-height: 2rem;
}

#user-menu .nav-item {
  margin-left: 1rem;
}
#user-menu .nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  // border: 1px solid yellow;
  height: 40px;
}

// Day & Night Theme toggler
.theme-toggle-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.theme-checkbox-label {
  cursor: pointer;
  margin: 0 auto;
  line-height: 2rem;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  font-size: 1.2rem;
  height: 26px;
  width: 50px;
}
.theme-checkbox {
  // display: none;
  opacity: 0;
  position: absolute;
}
.fa-moon {
  color: var(--secondary-color);
}
.fa-sun {
  color: #f39c12;
}
.theme-switch {
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  transition: transform .15s linear;
}
.theme-checkbox:checked + .theme-checkbox-label .theme-switch {
  transform: translateX(24px);
}

#lang {
  transform: translateX(3rem) translateY(.5rem);
}

#lang img {
  height: 30px;
}

.fa-bell {
  position: relative;
  padding-top: 3px;
  font-size: 1.3rem;
  .badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .9rem;
    line-height: .6rem;
    padding: .3rem .40rem;
    transform: translate(.7rem, -.5rem);
    visibility: hidden;
  }
}

.nav-link-avatar {
  padding-top: unset;
  padding-bottom: unset;
}

// Avatar
.avatar-container {
  margin-top: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 18px;
  border: 2px solid var(--secondary-color);
  transition: border 100ms linear;
  &:hover {
    border: 2px solid var(--primary-color);
  }
}
.avatar-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
  border: 1px solid var(--primary-bg);
}
.avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Burger menu
.icon-bar {
  width: 25px; 
  height: 3px;
  background-color: var(--secondary-color);
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
/* Burger menu Animation */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 5% 5%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 5% 100%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler:focus {
  box-shadow: none;
}

// Search bar
#search-container-nav {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}
.search-form {
  display: flex;
  position: relative;
  width: 100%;
}
.search-form i {
  position: absolute;
  top: 50%;
  transform: translateY(-38%);
  left: 10px;
}
.search-input {
  background-color: var(--secondary-bg);
  width: 100%;
  height: 38px;
  color: inherit;
  border: 2px solid var(--secondary-bg);
  border-radius: 20px;
  padding: 0 3.5rem;
}
.search-input::placeholder {
  color: var(--secondary-color);
}
.search-input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-bg);
}

/* Login modal */
.auth-modal {
  min-width: 305px;
  width: 380px;
  margin: 0 auto;
  margin-top: 8%;
}

.modal-content {
  background-color: var(--primary-bg);
  border: 1px solid var(--secondary-bg);
  color: var(--primary-color);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 25px;
}

.auth-modal .link-close {
  color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 1;
  svg {
    opacity: 0.6;
    transition: opacity 75ms;
  }
  svg:hover {
    opacity: 0.9;
  }
}

#authTab {
  padding-top: 0;
  margin-top: 0;
  height: 0;
}

.auth-modal .modal-header {
  border-bottom: none;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
}

.auth-modal .modal-body {
  padding: 0 1rem;
}

.auth-modal form {
  margin-top: 2rem;
}

.auth-modal h3 {
  font-size: 26px;
  margin-top: 0;
}

.auth-modal .form-group {
  margin-bottom: .5rem;
}

.auth-modal .form-control {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  height: 40px;
  padding: 0;
  box-shadow: none !important;
  border: 1px solid #888;
  border-width: 0 0 1px 0;
  border-radius: 0;
  &:focus {
    border-color: var(--primary-color);
  }
}

.auth-modal .auth-btn {
  margin-top: 1rem;
  width: 100%;
}

.auth-modal .btn {        
  font-size: inherit;
  font-weight: bold;
}

.auth-modal .modal-footer {
  text-align: center;
  border-top: 1px solid rgba(var(--secondary-color), 0.5);
}

.auth-modal a {
  color: inherit;
  text-decoration: none;
}

.auth-modal a:hover {
  text-decoration: underline;
}

.pw-message {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  a {
    margin: 0 auto;
  }
} 

#register-link {
  font-weight: bold;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
}

.nav-tabs {
  border: none;
  .nav-link {
    border: none;
    outline: none;
    border-radius: 0;
    &.active {
      background-color: unset;
      color: var(--primary-color);
      font-size: 2rem;
    }
  }
}

/* Register form modal */
.form-errors {
  padding: 0.3rem 1rem;
  margin-top: 3px;
  background-color: var(--error);
  border-radius: 5px;
}

.form-group {
  position: relative;
}
.form-group .small {
  min-height: 22px;
  font-size: 1rem;
  font-weight: 500;
  visibility: hidden;
}

.form-group.success input {
  border-bottom: 1px solid var(--success) !important;
}
.form-group.error input {
  border-bottom: 1px solid var(--error) !important;
}
.form-group.error .small {
  color: var(--error);
  visibility: visible;
}

/* Show Hide Password */
.toggle-hide {
  font-size: 1rem;
  font-weight: 800;
  color: var(--secondary-color);
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: .8rem;
}
.toggle-hide-show {
  color: var(--secondary-color) !important;
}
.toggle-hide-hide {
  color: var(--error) !important;
}
/* end show hide password */

/* Scaled feedback */
.pwmeter-container {
  margin-top: 2px;
}

.pwmeter {
  display: flex;
  justify-content: space-between;
  height: 1px;
  margin: 0 auto;
}
.pwmeter span {
  height: 1px;
  width: 33.3%;
  // background-color: #888;
  opacity: 0;
  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out;
}
.meter-span-on {
  opacity: 1 !important;
}
.meter-span-off {
  background-color: none !important;
}

.pwmessage-container {
  display: flex;
  margin: 0;
}
#passwordmessage {
  margin-top: 0.3rem;
  line-height: .8rem;
  font-size: 1rem;
  font-weight: 500;
}
/* end scaled feedback */

.auth-btn {
  position: relative;
  .submit-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}