// Marquee
@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 30vh;
    --marquee-elements-displayed: 3;

  }

  .marquee:before, .marquee:after {
    width: 5rem; 
  }
}

// Auth Modal Window
@media (max-width: 420px) {
  .modal-login {
    width: 100%;
  }
}

// Auth Modal Window
@media (max-width: 991px) {
  .navbar-nav {
    width: 100%;
  }

  .ml-4 {
    margin-left: 0!important;
  }

  #search-container-nav {
    width: 100%;
    padding-bottom: 7px;
  }

  .menu {
    display: flex;
    flex-direction: unset;
    justify-content: center !important;
    align-items: center;
    margin: 1rem 0;
    transition: all 500ms ease-in;
  }

  
  li {
    margin: 1rem 1rem;
    display: block;
  }

  .btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

