* {
  box-sizing: border-box;
}

body, a {
  background-color: #fff;
  color: #111;
  font-size: 1.1em;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
  font-size: 1.2rem;
  h2{
    margin: .3rem 0;
  }
  li {
    list-style: none;
    padding-right: 1rem;
  }
  a{
    color: #444;
    text-decoration: none;
    // font-size: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    display: flex;
  }
}

.center {
  text-align: center;
}

form {
  display: inline;
}

.login-form {
  margin: 100px auto;
  width: 400px;
  border-radius: 5px;
  text-align: center;
}

.movie-year {
  font-weight: 100;
  font-size: .8em;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

.weather-icon {
  vertical-align: middle;
}