<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theatron | Watch movies, See what's playing in theaters near you, book tickets</title>
    <!-- Bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.min.css" />
  </head>
  <body>
  <elem data-trailer='<%= locale.trailer %>'></elem>

  <!-- start page section -->
  <section id="page-container">
    <%- include("./navbar.ejs") %>
  <section id="main">