<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>
  
  <nav>
    <div> 
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movies</a></li>
      <li>
        <form action="/results" method="get">
          <input type="text" name="search" placeholder="search...">
          <button>search</button>
        </form>
      </li>
      <li><a href="/movies/new">Add Movie</a></li>
    </div>

    <div class="menu">
      <% if (!currentUser) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } else { %>
        <li>hi <a href="/profile/<%= currentUser._id %>"><strong><%= currentUser.username %></strong></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
    </div>
  </nav>

