<%- include("./partials/header") %> 

<div class="container mt-4">
  <h3>Reset Password</h3>
  <hr>
  <form action="/passwordreset/<%= token %>" method="post">
    <div class="mb-3">
      <label for="inputPassword" class="form-label">New Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password"
           aria-describedby="emailHelp" required autofocus>
    </div>
    <div class="mb-3">
      <label for="inputConfirm" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="inputConfirm" name="confirm"
           aria-describedby="passwordHelp" required>
    </div>
    <button type="submit" class="btn btn-custom">Update Password</button>
  </form>
</div>

<%- include("./partials/footer") %> 