<%- include("./partials/header") %>

<div class="container mt-4">
  <h3>Forgot Password</h3>
  <hr />
  <form action="/passwordreset" method="post">
    <div class="mb-3">
      <label for="inputEmail" class="form-label"><h5>Email</h5></label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        name="email"
        aria-describedby="emailHelp"
        required
        autofocus
      />
    </div>
    <!-- <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div> -->
    <button type="submit" class="btn btn-custom">Reset Password</button>
  </form>
</div>

<%- include("./partials/footer") %>
