<%- include("./partials/header") %> 


<div class="login-form">
  <h2>Register</h2>

  <% if(typeof errors != 'undefined') { %> 
    <div class="form-errors" style="color: red;">
      <% errors.forEach((error) => { %>
        <%= `* ${error}` %><br>
      <% }) %>
    </div>
  <% } else if(typeof errors == 'success') { %>
    <div class="form-errors" style="color: green;">
        <%= `Registered successfully` %><br>
    </div>
  <% } %>

  <form id="reg-form-static" action="/register" method="post">
    <div class="form-group mb-3">
      <input type="text" class="form-control" name="username" placeholder="username" autofocus>
    </div>
    <div class="form-group mb-3">
      <input type="password" class="form-control" name="password" placeholder="password" >
    </div>
    <div class="form-group mb-3">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>
  <a href="/movies" class="btn btn-primary">Back</a>
</div>


<%- include("./partials/footer") %> 