<%- include('../partials/header') %>

<div class="container">
  <div class="primary">
    <h1> Политика DMCA </h1>
    <p> <strong> Tron использует API TMDb для извлечения данных и изображений фильмов и API YouTube для трейлеров фильмов, но не одобрен и не сертифицирован TMDb или YouTube.
    Трон не предоставляет никаких потоковых фильмов или загрузок фильмов, и мы также не делаем ссылок на какие-либо потоки фильмов или загрузки фильмов. </strong> </p>
    
    <h3> Закон о защите авторских прав в цифровую эпоху </h3>

    <p> Наша политика заключается в немедленном реагировании на явные уведомления о предполагаемом нарушении авторских прав. На этой странице описывается информация, которая должна содержаться в этих уведомлениях. Эта процедура предназначена для того, чтобы максимально упростить отправку уведомлений о предполагаемом нарушении прав на этот веб-сайт, одновременно уменьшая количество получаемых нами уведомлений, которые являются мошенническими или трудными для понимания или проверки. Форма уведомления, указанная ниже, соответствует форме, требуемой законодательством США (официальное резюме которого можно найти на веб-сайте Бюро регистрации авторских прав США http://www.copyright.gov/legislation/dmca.pdf) , но мы также ответим на уведомления этой формы из других юрисдикций. Мы рекомендуем вам проконсультироваться со своим юрисконсультом перед подачей уведомления. Кроме того, имейте в виду, что в соответствии с Законом США "Об авторском праве в цифровую эпоху" существуют штрафы (включая расходы и гонорары адвокатов) за ложные претензии. См. Http://www.chillingeffects.org/dmca512/faq.cgi для получения дополнительной информации.
    Уведомление о нарушении
    Чтобы подать нам уведомление о нарушении, вы должны предоставить агенту по авторским правам на веб-сайте, указанному ниже, письменное сообщение (электронное письмо, которое включает каждый из пунктов, указанных ниже:
    - электронная или физическая подпись лица, уполномоченного действовать от имени правообладателя (настоятельно рекомендуется документ Word или PDF);
    - описание защищенной авторским правом работы, права на которую, по вашему утверждению, были нарушены, указание времени, даты и ссылки, на веб-сайте или в службе был отображен материал, который, по вашему мнению, нарушает авторские права, и любая другая информация этого достаточно для того, чтобы этот веб-сайт смог найти материал;
    - ваш адрес, номер телефона и адрес электронной почты;
    - заявление, что у вас есть добросовестное предположение, что спорное использование не разрешено владельцем авторского права, его агентом или законом; а также
    - ваше заявление, сделанное под страхом наказания за лжесвидетельство, о том, что приведенная выше информация в вашем уведомлении является точной и что вы являетесь владельцем авторских прав или уполномочены действовать от имени владельца авторских прав. </p>
  </div>
  <br>
  <button class="btn-custom" onclick="goBack()"><%= locale.btn_back %> </button>
  <br><br>
</div>

<%- include('../partials/footer') %>