<%- include('../partials/header') %>

<div class="container">
  <div class="primary">
    <h1>DMCA Policy</h1>
    <p>
      <strong
        >Tron uses the TMDb Api for retrieving movie data and images and the YouTube Api for movie trailers but is not
        endorsed or certified by TMDb or YouTube. Tron does not provide any movie streams or movie downloads and we also
        do not link to any movie streams or movie downloads.</strong
      >
    </p>

    <h3>Digital Millennium Copyright Act</h3>

    <p>
      It is our policy to respond immediately to clear notices of alleged copyright infringement. This page describes
      the information that should be present in these notices. This procedure is designed to make submitting notices of
      alleged infringement to this website as straightforward as possible, while reducing the number of notices that we
      receive that are fraudulent or difficult to understand or verify. The form of notice specified below is consistent
      with the form required by the United States law (an official summary of which can be found at the U.S. Copyright
      Office Web Site, http://www.copyright.gov/legislation/dmca.pdf), but we will respond to notices of this form from
      other jurisdictions as well. We suggest that you consult your legal advisor before filing a notice. Also, please
      be aware that there are penalties (including costs and attorney's fees) for false claims under the DMCA. See
      http://www.chillingeffects.org/dmca512/faq.cgi for more details. Infringement Notification To file a notice of
      infringement with us, you must provide to the website Copyright Agent designated below a written communication (an
      email, that includes each of the items specified below: - an electronic or physical signature of the person
      authorized to act on behalf of the owner of the copyright interest (a Word or PDF document highly recommended); -
      a description of the copyrighted work that you claim has been infringed, identification of the time(s), date(s)
      and link(s) the material that you claim is infringing was displayed on the website or service, and any other
      information that is reasonably sufficient for this website to locate the material; - your address, telephone
      number, and email address; - a statement by you that you have a good faith belief that the disputed use is not
      authorized by the copyright owner, its agent, or the law; and - a statement by you, made under penalty of perjury,
      that the above information in your notice is accurate and that you are the copyright owner or authorized to act on
      the copyright owner's behalf.
    </p>
  </div>
  <br />
  <button class="btn-custom" onclick="goBack()"><%= locale.btn_back %></button>
  <br /><br />
</div>

<%- include('../partials/footer') %>
