<%- include('../partials/header') %>

<div class="container">
  <div class="primary">
    <h1> Política de DMCA </h1>
    <p> <strong> Tron usa TMDb Api para recuperar datos e imágenes de películas y YouTube Api para avances de películas, pero no está respaldado ni certificado por TMDb o YouTube.
    Tron no proporciona transmisiones de películas ni descargas de películas, y tampoco enlazamos a transmisiones de películas ni descargas de películas. </strong> </p>
    
    <h3> Ley de derechos de autor del milenio digital </h3>

    <p> Nuestra política es responder de inmediato a avisos claros de presunta infracción de derechos de autor. Esta página describe la información que debe estar presente en estos avisos. Este procedimiento está diseñado para hacer que el envío de avisos de presunta infracción a este sitio web sea lo más sencillo posible, al tiempo que reduce la cantidad de avisos que recibimos que son fraudulentos o difíciles de entender o verificar. El formulario de notificación que se especifica a continuación es consistente con el formulario requerido por la ley de los Estados Unidos (un resumen oficial del cual se puede encontrar en el sitio web de la Oficina de Copyright de los Estados Unidos, http://www.copyright.gov/legislation/dmca.pdf) , pero también responderemos a los avisos de este formulario de otras jurisdicciones. Le sugerimos que consulte a su asesor legal antes de presentar un aviso. Además, tenga en cuenta que existen multas (incluidos los costos y los honorarios de los abogados) por reclamos falsos según la DMCA. Consulte http://www.chillingeffects.org/dmca512/faq.cgi para obtener más detalles.
    Notificación de infracción
    Para presentarnos una notificación de infracción, debe proporcionar al Agente de derechos de autor del sitio web designado a continuación una comunicación escrita (un correo electrónico que incluya cada uno de los elementos que se especifican a continuación:
    - una firma electrónica o física de la persona autorizada para actuar en nombre del propietario del interés de los derechos de autor (un documento Word o PDF muy recomendado);
    - una descripción del trabajo protegido por derechos de autor que usted afirma que se ha infringido, la identificación de la (s) hora (s), la (s) fecha (s) y el (los) enlace (s) en el que se mostró en el sitio web o servicio el material que usted afirma que infringe, y cualquier otra información que sea razonablemente suficiente para que este sitio web ubique el material;
    - su dirección, número de teléfono y dirección de correo electrónico;
    - una declaración suya de que cree de buena fe que el uso en disputa no está autorizado por el propietario de los derechos de autor, su agente o la ley; y
    - una declaración suya, hecha bajo pena de perjurio, de que la información anterior en su aviso es precisa y que usted es el propietario de los derechos de autor o está autorizado para actuar en nombre del propietario de los derechos de autor. </p>
  </div>
  <br>
  <button class="btn-custom" onclick="goBack()"><%= locale.btn_back %> </button>
  <br><br>
</div>

<%- include('../partials/footer') %>