<%- include('../partials/header') %>

<div class="container">
  <div class="primary">
    <h1> Политика конфиденциальности Tron </h1>
    Настоящая Политика конфиденциальности применяется к информации, которую мы собираем о вас на
    <a href="/" title="Tron"> https://www.tron.movie </a>
    («Веб-сайт») и приложения Tron
    и как мы используем эту информацию. <br>
    <br>
    <h3> Сбор вашей информации о Tron </h3>
    <br>
    Ваша «информация Tron» включает определенную собранную техническую информацию.
    или полученные при использовании Tron. Некоторая техническая информация, которая может
    быть собранным или полученным включает: тип браузера, который вы используете
    (например, Netscape, Internet Explorer), тип вашей операционной системы
    использование (например, Windows или Mac OS), тип процессора, способ подключения к
    Интернет (например, скорость соединения через узкополосный или широкополосный
    доступ); Адрес интернет-протокола; Установленные приложения; информация о версии
    сервис от аффилированного лица, которым вы пользовались до регистрации в
    оказание услуг; другая информация о вашем географическом положении; и домен
    название вашего интернет-провайдера. <br>
    <br>
    Хотя регистрация для использования большинства сервисов Tron не требуется, там
    ограниченное количество дополнительных услуг (например, сохранение видео
    list), для которых требуется «учетная запись». Функциональность регистрации для Tron есть
    предоставлено сетью Tron. Если вы выберете «Зарегистрировать учетную запись», вы
    необходимо будет зарегистрироваться и предоставить информацию в Tron. Тогда вы будете
    получить псевдоним или другие учетные данные, выданные Tron (в совокупности,
    «Псевдоним») для доступа и использования этих дополнительных услуг, а также
    ваше имя пользователя и учетная запись связанных служб будут подлежать
    Соглашение об условиях использования Tron и политика конфиденциальности, указанные в вашем
    процесс регистрации. <br>
    <br>
    <br>
    <h3> Как используется информация о вашем Tron </h3>
    <br>
    Информация о вашем Tron используется <br>
    <br>
    <ul style = "list-style-type: disc; padding-left: 25px;">
    <li>
    для работы и улучшения веб-сайтов, доступных услуг и предложений
    через Трон;
    </li>
    <li>
    для персонализации предоставленного вам контента;
    </li>
    <li>
    для выполнения ваших запросов на продукты, программы и услуги;
    </li>
    <li>
    чтобы общаться с вами и отвечать на ваши запросы;
    </li>
    <li>
    для проведения исследования об использовании вами Трона; а также
    </li>
    <li>
    чтобы предложить вам другие продукты, программы или услуги, которые могут
    интерес.
    </li>
    </ul>
    <br>
    Ваша информация Tron не будет передана третьим лицам, если
    необходимо для выполнения запроса, в других обстоятельствах, при которых у вас
    согласился на передачу вашей информации Tron, или за исключением случаев, описанных
    в настоящей Политике конфиденциальности. Мы можем использовать вашу информацию Tron для представления
    предлагает вам от имени деловых партнеров и рекламодателей. Эти
    бизнес-партнеры и рекламодатели могут получать сводные данные о группах
    пользователей Tron, но не получают информацию, позволяющую идентифицировать
    вы. <br>
    <br>
    Если вы используете наши средства связи для раскрытия информации о себе
    публично (например, сделав свой псевдоним и / или списки видео
    общедоступно), другие онлайн-пользователи могут получить доступ к любому
    информацию, которую вы предоставляете. Содержание ваших онлайн-коммуникаций, как
    а также другая информация о вас как о пользователе Tron, может быть доступна и
    раскрывается в ответ на судебный процесс (например, постановление суда, поиск
    ордер или повестка в суд); в других обстоятельствах, при которых, по нашему мнению, Трон
    использование при совершении преступления; когда у нас есть добросовестное убеждение
    что возникла чрезвычайная ситуация, которая представляет угрозу для вашей безопасности или
    другой человек; или при необходимости для защиты наших прав или собственности
    или права или собственность наших аффилированных поставщиков, или чтобы мы
    услугу, которую вы запросили. Мы можем использовать агентов и подрядчиков для
    чтобы помочь в работе службы. Если такие агенты и подрядчики имеют доступ к
    вашу информацию Tron, они обязаны защищать эту информацию в
    способом, который соответствует настоящей Политике конфиденциальности, например, не
    использование информации для любых целей, кроме оказания услуг
    они выступают для Трона. <br>
    <br>
    В случае, если право собственности на нас или сервис Tron изменится как
    в результате слияния, поглощения или передачи другой компании, ваш Tron
    информация может быть передана. Если в результате такой передачи материал
    изменения в использовании вашей информации Tron, мы предоставим уведомление о
    варианты, от которых вы должны отказаться, чтобы разрешить такую ​​передачу. <br>
    <br>
    <h3> Ваш выбор в отношении вашей информации </h3>
    <br>
    Если вы хотите изменить данные своей учетной записи (например, ваш экран
    Имя) вам нужно будет войти в Tron и получить доступ к своей учетной записи через
    Форум. Ваш доступ к информации вашей учетной записи и выбор будут
    <h3> Ваш выбор в отношении вашей информации </h3>
    <br>
    Если вы хотите изменить данные своей учетной записи (например, ваш экран
    Имя) вам нужно будет войти в Tron и получить доступ к своей учетной записи через
    Форум. Ваш доступ к информации вашей учетной записи и выбор будут регулироваться
    политикой Tron. <br>
    <br>
    <h3> Файлы cookie, веб-маяки и аналогичные технологии </h3>
    <br>
    Файлы cookie - это текстовые файлы, которые размещаются в браузере вашего компьютера, и
    которые могут быть использованы, чтобы помочь узнать вас как пользователя Tron. Веб-маяки
    небольшие фрагменты кода, размещенные на веб-страницах, которые можно использовать, среди прочего
    вещи, для подсчета пользователей, которые посещают эту веб-страницу, или для доставки файла cookie
    в браузер пользователя, просматривающего эту страницу. Вы можете контролировать файлы cookie
    через настройки вашего браузера. Однако если вы отклоните все файлы cookie, вы
    не сможет воспользоваться некоторыми предложениями Tron. <br>
    <br>
    Мы можем использовать файлы cookie, веб-маяки или аналогичные технологии в комбинации
    с вашей информацией Tron, чтобы улучшить и персонализировать ваш опыт на
    Tron, в том числе для управления и улучшения предложений через Tron; помочь
    аутентифицировать вас, когда вы используете Tron; запомнить свои предпочтения; к
    представить и помочь измерить и исследовать эффективность предложений Tron
    и реклама; а также для настройки содержания и рекламы
    предоставлено вам через Tron. <br>
    <br>
    Tron и его рекламодатели могут использовать поставщиков рекламных сетей для помощи
    представить рекламу на Tron. Эти рекламные сети могут использовать
    файлы cookie, веб-маяки или аналогичные технологии на вашем компьютере, чтобы
    предоставлять целевую рекламу товаров и услуг, которые могут быть
    интерес к вам при посещении других веб-сайтов. Использование файлов cookie, веб-
    маяки или аналогичные технологии поставщиков рекламных сетей подлежат
    собственная политика конфиденциальности. Любой выбор, который у вас есть об этих
    технологии будут представлены здесь, если мы воспользуемся услугами
    любого провайдера рекламной сети. Поэтому вам рекомендуется
    периодически возвращайтесь в этот раздел для получения обновленной информации о
    рекламные сети. <br>
    <br>
    Сторонние поставщики, включая Google, показывают вашу рекламу на сайтах в Интернете. Сторонние поставщики, включая Google, используют файлы cookie для показа рекламы на основе предыдущих посещений вашего сайта пользователем.
    Пользователи могут отказаться от использования файлов cookie Google, посетив <a href="https://www.google.com/privacy/ads/"> страницу отказа от рекламы Google </a>. (В качестве альтернативы вы можете отказаться от использования файлов cookie сторонним поставщиком, посетив <a href="https://www.networkadvertising.org/managing/opt_out.asp"> страницу отказа от Network Advertising Initiative </a>. )
    <br> <br>
    Мы можем использовать сторонние рекламные компании для сбора данных и / или показа рекламы, когда вы посещаете наш веб-сайт. Эти компании могут использовать информацию (не включая ваше имя, адрес, адрес электронной почты или номер телефона) о ваших посещениях этого и других веб-сайтов в
    для размещения рекламы интересующих вас товаров и услуг. Если вы хотите получить дополнительную информацию об этой практике и узнать, как можно отказаться от использования этой информации этими компаниями, посетите http://networkadvertising.org/.
    <br> <br> Мы используем личную информацию, которую мы собираем в связи с предоставлением вам наших услуг, для обнаружения и предотвращения мошенничества. Мы передаем эту информацию стороннему поставщику услуг, чтобы помочь нам в этом. <br>
    <br>
    <h3> Безопасность </h3>
    <br>
    Мы установили меры предосторожности, чтобы помочь предотвратить несанкционированный доступ к или
    неправомерное использование вашей информации Tron, но не может гарантировать, что это
    информация никогда не будет раскрыта способом, несовместимым с этим
    Политика конфиденциальности (например, в результате несанкционированных действий третьих лиц
    стороны, которые нарушают применимое законодательство или политику службы и ее
    аффилированные провайдеры). <br>
    <br>
    <h3> Специальное примечание для родителей </h3>
    <br>
    Трон предназначен для широкой публики. Регистрация наверняка
    услуги на Tron могут быть недоступны для детей младше 13 лет. <br>
    <br>
    <h3> Соблюдение Закона штата Калифорния о защите конфиденциальности в Интернете </h3>
    <br>
    Поскольку мы ценим вашу конфиденциальность, мы приняли необходимые меры предосторожности для соблюдения Закона штата Калифорния о защите конфиденциальности в Интернете. Поэтому мы не будем передавать вашу личную информацию третьим лицам без вашего согласия.
    В соответствии с Законом Калифорнии о защите конфиденциальности в Интернете все пользователи нашего сайта могут вносить любые изменения в свою информацию в любое время, войдя на страницу своей учетной записи https://www.tron.movie/user_account.php.
    <br> <br>
    <h3> Как с нами связаться </h3>
     <br>
     Если у вас есть какие-либо вопросы или опасения по поводу Политики конфиденциальности Tron или ее
     реализации, вы можете связаться с нами, перейдя по следующей ссылке:
     <a href="https://www.tron.movie/contact" title="Contact Us"> https://www.tron.movie/contact </a>. <br>
     Вы можете отказаться от рассылки Tron Emails здесь: <a href="https://www.tron.movie/user_alerts"> https://www.tron.movie/user_alerts </a>. <br>
     <br>
     <h3> Изменения настоящей Политики конфиденциальности и дополнительной информации </h3>
     <br>
     Мы можем обновлять эту Политику конфиденциальности время от времени, поэтому вам следует
     периодически просматривайте эту Политику. Если есть существенные изменения в
     Информационных практик Tron, вам будут предоставлены соответствующие
     онлайн-уведомление. Вам может быть предоставлена другая информация о конфиденциальности в
     связь с использованием вами предложений от Tron, а также для специальных
     функции и услуги, не описанные в настоящей Политике, которые могут быть представлены
     в будущем. <br>
  </div>
  <br>
  <button class="btn-custom" onclick="goBack()"><%= locale.btn_back %> </button>
  <br><br>
</div>

<%- include('../partials/footer') %>