<%- include('../partials/header') %>

<div class="container">
  <div class="primary">
    <h1> Política de privacidad de Tron </h1>
    Esta Política de privacidad se aplica a la información que recopilamos sobre usted en
    <a href="/" title="Tron"> https://www.tron.movie </a>
    (el "Sitio web") y las aplicaciones de Tron
    y cómo usamos esta información. <br>
    <br>
    <h3> Recopilación de su información de Tron </h3>
    <br>
    Su "información de Tron" incluye cierta información técnica recopilada
    o recibido cuando usa Tron. Parte de la información técnica que puede
    recopilarse o recibirse incluye: el tipo de navegador que está utilizando
    (por ejemplo, Netscape, Internet Explorer), el tipo de sistema operativo que tiene
    usando (por ejemplo, Windows o Mac OS), el tipo de CPU, su forma de conectarse a
    Internet (por ejemplo, velocidad de conexión a través de banda estrecha o banda ancha
    acceso); Dirección del protocolo de Internet; Aplicaciones instaladas; información sobre la versión de
    servicio de un afiliado que utilizó antes de registrarse con el
    Servicio; otra información sobre su ubicación geográfica; y el dominio
    nombre de su proveedor de servicios de Internet. <br>
    <br>
    Si bien no es necesario registrarse para utilizar la mayoría de los servicios de Tron,
    son un número limitado de servicios opcionales (por ejemplo, guardar un video
    lista) que requieren una "cuenta". La funcionalidad de registro para Tron es
    proporcionado por Tron Network. Si elige "Registrar una cuenta",
    deberá registrarse y proporcionar información a Tron. Entonces lo harás
    obtener un Nombre de pantalla u otra credencial emitida por Tron (colectivamente,
    "Nombre de pantalla") para acceder y utilizar estos servicios opcionales, y
    su nombre de pantalla y cuenta de servicios asociados estarán sujetos a la
    Acuerdo de Términos de servicio de Tron y prácticas de privacidad indicadas en su
    proceso de registro. <br>
    <br>
    <br>
    <h3> Cómo se usa su información de Tron </h3>
    <br>
    Se utiliza tu información de Tron <br>
    <br>
    <ul style = "list-style-type: disc; padding-left: 25px;">
    <li>
    para operar y mejorar los sitios web, los servicios y las ofertas disponibles
    a través de Tron;
    </li>
    <li>
    para personalizar el contenido que se le proporciona;
    </li>
    <li>
    para satisfacer sus solicitudes de productos, programas y servicios;
    </li>
    <li>
    para comunicarnos con usted y responder a sus consultas;
    </li>
    <li>
    para realizar investigaciones sobre su uso de Tron; y
    </li>
    <li>
    para ayudar a ofrecerle otros productos, programas o servicios que pueden ser de
    interesar.
    </li>
    </ul>
    <br>
    Su información de Tron no se compartirá con terceros a menos que sea
    necesario para cumplir con una solicitud, en otras circunstancias en las que haya
    consintió en compartir su información de Tron, o excepto como se describe
    en esta Política de privacidad. Podemos utilizar su información de Tron para presentar
    le ofrece en nombre de socios comerciales y anunciantes. Estas
    Los socios comerciales y los anunciantes pueden recibir datos agregados sobre grupos.
    de los usuarios de Tron, pero no reciben información que los identifique personalmente
    usted. <br>
    <br>
    Si utiliza nuestras herramientas de comunicación para divulgar información sobre usted
    públicamente (por ejemplo, haciendo que su nombre de pantalla y / o listas de videos
    disponible públicamente), otros usuarios en línea pueden obtener acceso a cualquier
    información que proporcionas. El contenido de sus comunicaciones en línea, como
    así como otra información sobre usted como usuario de Tron, se puede acceder y
    divulgado en respuesta a un proceso legal (por ejemplo, una orden judicial, registro
    orden judicial o citación); en otras circunstancias en las que creemos que Tron es
    ser utilizado en la comisión de un delito; cuando tenemos una creencia de buena fe
    que hay una emergencia que representa una amenaza para su seguridad o
    otra persona; o cuando sea necesario para proteger nuestros derechos o propiedad
    o los derechos o propiedad de nuestros proveedores afiliados, o para que prestemos
    el servicio que ha solicitado. Podemos utilizar agentes y contratistas para
    para ayudar a operar el servicio. Si dichos agentes y contratistas tienen acceso a
    su información de Tron, están obligados a proteger esta información en un
    de manera que sea consistente con esta Política de privacidad, por ejemplo, no
    usar la información para cualquier propósito que no sea para llevar a cabo los servicios
    están actuando para Tron. <br>
    <br>
    En el caso de que la propiedad de nosotros o del servicio de Tron cambiara como
    resultado de una fusión, adquisición o transferencia a otra empresa, su Tron
    la información puede ser transferida. Si tal transferencia da como resultado un material
    cambio en el uso de su información de Tron, le avisaremos sobre
    las opciones que tiene que rechazar para permitir dicha transferencia. <br>
    <br>
    <h3> Sus elecciones sobre su información </h3>
    <br>
    Si desea cambiar la información de su cuenta (por ejemplo, su pantalla
    Nombre) deberá iniciar sesión en Tron y acceder a su cuenta a través del
    foro. Su acceso a la información de su cuenta y su elección se regirán
    según las políticas de Tron. <br>
    <br>
    <h3> Cookies, balizas web y tecnologías similares </h3>
    <br>
    Las cookies son archivos de texto que se colocan en el navegador de su computadora y
    que se puede utilizar para ayudar a reconocerlo como usuario de Tron. Las balizas web son
    pequeños fragmentos de código colocados en páginas web que se pueden utilizar, entre otros
    cosas, para contar los usuarios que visitan esa página web, o para entregar una cookie
    al navegador de un usuario que visualiza esa página. Puedes controlar las cookies
    a través de la configuración de su navegador. Sin embargo, si rechaza todas las cookies,
    no podrá aprovechar ciertas ofertas de Tron. <br>
    <br>
    Podemos utilizar cookies, balizas web o tecnologías similares en combinación
    con su información de Tron para mejorar y personalizar su experiencia en
    Tron, incluso para operar y mejorar las ofertas a través de Tron; ayudar
    autenticarle cuando utilice Tron; recordar sus preferencias; a
    presentar y ayudar a medir e investigar la efectividad de las ofertas de Tron
    y anuncios; y, para personalizar el contenido y los anuncios.
    proporcionado a usted a través de Tron. <br>
    <br>
    Tron y sus anunciantes pueden utilizar proveedores de redes publicitarias para ayudar
    presentar anuncios en Tron. Estas redes publicitarias pueden utilizar
    cookies, balizas web o tecnologías similares en su computadora con el fin de
    proporcionar anuncios dirigidos sobre bienes y servicios que pueden ser de
    le interese mientras visita otros sitios web. El uso de cookies, web
    balizas o tecnologías similares de proveedores de redes publicitarias está sujeta a
    sus propias políticas de privacidad. Cualquier elección que tenga sobre estos
    Las tecnologías se presentarán aquí en caso de que utilicemos los servicios.
    de cualquier proveedor de redes publicitarias. Por lo tanto, se le anima a
    Vuelva a esta sección periódicamente para obtener información actualizada sobre
    redes publicitarias. <br>
    <br>
    Los proveedores de terceros, incluido Google, muestran sus anuncios en sitios en Internet. Los proveedores externos, incluido Google, utilizan cookies para publicar anuncios basados ​​en las visitas anteriores de un usuario a su sitio web.
    Los usuarios pueden optar por no usar cookies por parte de Google visitando la <a href="https://www.google.com/privacy/ads/"> página de exclusión de publicidad de Google </a>. (Alternativamente, puede optar por no participar en el uso de cookies por parte de un proveedor externo visitando la <a href="https://www.networkadvertising.org/managing/opt_out.asp"> página de exclusión de Network Advertising Initiative </a>. )
    <br> <br>
    Podemos utilizar empresas de publicidad de terceros para recopilar datos y / o publicar anuncios cuando visita nuestro sitio web. Estas empresas pueden utilizar información (sin incluir su nombre, dirección, dirección de correo electrónico o número de teléfono) sobre sus visitas a este y otros sitios web en
    para proporcionar anuncios sobre bienes y servicios de su interés. Si desea obtener más información sobre esta práctica y conocer sus opciones para que estas empresas no utilicen esta información, visite http://networkadvertising.org/.
    <br> <br> Utilizamos la información personal que recopilamos en relación con la prestación de nuestros servicios para detectar y prevenir actividades fraudulentas. Compartimos esta información con un proveedor de servicios externo para que nos ayude con este esfuerzo. <br>
    <br>
    <h3> Seguridad </h3>
    <br>
    Hemos establecido salvaguardas para ayudar a prevenir el acceso no autorizado ao
    uso indebido de su información de Tron, pero no puede garantizar que este
    La información nunca se divulgará de manera incompatible con este
    Política de privacidad (por ejemplo, como resultado de actos no autorizados por terceros
    Partes que violen la ley aplicable o las políticas del servicio y su
    proveedores afiliados). <br>
    <br>
    <h3> Nota especial para los padres </h3>
    <br>
    Tron está destinado a una audiencia general. Registro para ciertos
    Los servicios en Tron pueden no estar disponibles para niños menores de 13 años. <br>
    <br>
    <h3> Cumplimiento de la ley de protección de la privacidad en línea de California </h3>
    <br>
    Debido a que valoramos su privacidad, hemos tomado las precauciones necesarias para cumplir con la Ley de Protección de Privacidad en Línea de California. Por lo tanto, no distribuiremos su información personal a terceros sin su consentimiento.
    Como parte de la Ley de protección de la privacidad en línea de California, todos los usuarios de nuestro sitio pueden realizar cambios en su información en cualquier momento al iniciar sesión en la página de su cuenta de usuario https://www.tron.movie/user_account.php.
    <br> <br>
    <h3> Cómo contactarnos </h3>
     <br>
     Si tiene alguna pregunta o inquietud sobre la Política de privacidad de Tron o su
     implementación, puede contactarnos yendo al siguiente enlace:
     <a href="https://www.tron.movie/contact" title="Contact us"> https://www.tron.movie/contact </a>. <br>
     Puede optar por no recibir correos electrónicos de Tron aquí: <a href="https://www.tron.movie/user_alerts"> https://www.tron.movie/user_alerts </a>. <br>
     <br>
     <h3> Cambios en esta Política de privacidad e información adicional </h3>
     <br>
     Podemos actualizar esta Política de privacidad de vez en cuando, por lo que debe
     revise esta Política periódicamente. Si hay cambios significativos en
     Prácticas de información de Tron, se le proporcionarán las
     aviso en línea. Es posible que se le proporcione otra información relacionada con la privacidad en
     conexión con su uso de las ofertas de Tron, así como para
     características y servicios no descritos en esta Política que pueden introducirse
     en el futuro. <br>
   </div>
  <br>
  <button class="btn-custom" onclick="goBack()"><%= locale.btn_back %> </button>
  <br><br>
</div>

<%- include('../partials/footer') %>