<%- include('../partials/header') %>

<div class="container">
  <div class="primary">
    <h1>Tron Privacy Policy</h1>
    This Privacy Policy applies to information we collect about you at
    <a href="/" title="Tron">https://www.tron.movie</a>
    (the "Website") and Tron applications
    and how we use this information.<br>
    <br>
    <h3>Collection of your Tron Information</h3>
    <br>
    Your "Tron information" includes certain technical information gathered
    or received when you use Tron. Some of the technical information that may
    be collected or received includes: the type of browser you are using
    (e.g., Netscape, Internet Explorer), the type of operating system you are
    using (e.g., Windows or Mac OS), CPU type, your manner of connecting to
    the Internet (e.g., connection speed through narrowband or broadband
    access); Internet protocol address; Apps Installed; information about the version of
    service from an affiliate that you used prior to registering with the
    service; other information about your geographic location; and the domain
    name of your Internet service provider.<br>
    <br>
    While registering to use most of the Tron services is not required, there
    are a limited number of optional services (for example, saving a video
    list) that require an "account". Registration functionality for Tron is
    provided by the Tron Network. If you choose to "Register an Account", you
    will need to register with and provide information to Tron. You will then
    obtain a Screen Name or other credential issued by Tron (collectively,
    "Screen Name") in order to access and use these optional services, and
    your Screen Name and associated services account will be subject to the
    Tron Terms of Service Agreement and Privacy Practices indicated in your
    registration process.<br>
    <br>
    <br>
    <h3>How Your Tron information is Used</h3>
    <br>
    Your Tron information is used<br>
    <br>
    <ul style="list-style-type: disc; padding-left: 25px;">
    <li>
    to operate and improve the websites, services and offerings available
    through Tron;
    </li>
    <li>
    to personalize the content provided to you;
    </li>
    <li>
    to fulfill your requests for products, programs, and services;
    </li>
    <li>
    to communicate with you and respond to your inquiries;
    </li>
    <li>
    to conduct research about your use of Tron; and
    </li>
    <li>
    to help offer you other products, programs, or services that may be of
    interest.
    </li>
    </ul>
    <br>
    Your Tron information will not be shared with third parties unless it is
    necessary to fulfill a request, in other circumstances in which you have
    consented to the sharing of your Tron information, or except as described
    in this Privacy Policy. We may use your Tron information to present
    offers to you on behalf of business partners and advertisers. These
    business partners and advertisers may receive aggregate data about groups
    of Tron users, but do not receive information that personally identifies
    you.<br>
    <br>
    If you use our communications tools to disclose information about yourself
    publicly (for example, by making your screen name and/or video lists
    publicly available), other online users may obtain access to any
    information you provide. The contents of your online communications, as
    well as other information about you as a Tron user, may be accessed and
    disclosed in response to legal process (for example, a court order, search
    warrant or subpoena); in other circumstances in which we believe Tron is
    being used in the commission of a crime; when we have a good faith belief
    that there is an emergency that poses a threat to the safety of you or
    another person; or when necessary either to protect our rights or property
    or the rights or property of our affiliated providers, or for us to render
    the service you have requested. We may use agents and contractors in order
    to help operate the service. If such agents and contractors have access to
    your Tron information, they are required to protect this information in a
    manner that is consistent with this Privacy Policy by, for example, not
    using the information for any purpose other than to carry out the services
    they are performing for Tron.<br>
    <br>
    In the event that ownership of us or the Tron service was to change as a
    result of a merger, acquisition or transfer to another company, your Tron
    information may be transferred. If such a transfer results in a material
    change in the use of your Tron information, we will provide notice about
    the choices you have to decline to permit such a transfer.<br>
    <br>
    <h3>Your Choices About Your Information</h3>
    <br>
    If you want to change your account information (for example, your Screen
    Name) you will need to log onto Tron and access your account through the
    forum. Your access to your account information and choice will be governed
    by the Tron policies.<br>
    <br>
    <h3>Cookies, Web Beacons and Similar Technologies</h3>
    <br>
    Cookies are text files that are placed in your computer's browser, and
    that can be used to help recognize you as a Tron user. Web beacons are
    small pieces of code placed on Web pages that can be used, among other
    things, to count the users who visit that Web page, or to deliver a cookie
    to the browser of a user viewing that page. You can control cookies
    through your browser's settings. If you reject all cookies, however, you
    will not be able to take advantage of certain Tron offerings.<br>
    <br>
    We may use cookies, web beacons or similar technologies in combination
    with your Tron information to enhance and personalize your experience on
    Tron, including to operate and improve offerings through Tron; to help
    authenticate you when you use Tron; to remember your preferences; to
    present and help measure and research the effectiveness of Tron offerings
    and advertisements; and, to customize the content and advertisements
    provided to you through Tron.<br>
    <br>
    Tron and its advertisers may use advertising network providers to help
    present advertisements on Tron. These advertising networks may use
    cookies, web beacons, or similar technologies on your computer in order to
    provide targeted advertisements about goods and services that may be of
    interest to you while visiting other Web sites. The use of cookies, web
    beacons, or similar technologies by ad network providers is subject to
    their own privacy policies. Any choices that you have about these
    technologies will be presented here in the event we utilize the services
    of any advertising network provider. Therefore, you are encouraged to
    return to this section periodically for updated information about
    advertising networks.<br>
    <br>
    Third party vendors, including Google, show your ads on sites on the internet. Third party vendors, including Google, use cookies to serve ads based on a user’s prior visits to your website.
    Users may opt out of Google’s use of cookies by visiting the <a href="https://www.google.com/privacy/ads/">Google advertising opt-out page</a>. (Alternatively you can opt out of a third party vendor’s use of cookies by visiting the <a href="https://www.networkadvertising.org/managing/opt_out.asp">Network Advertising Initiative opt out page</a>.)
    <br><br>
    We may use third-party advertising companies to collect data and/or serve ads when you visit our Web site. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in
    order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, visit http://networkadvertising.org/.
    <br><br>We use the personal information we collect in connection with providing you our services to detect and prevent fraudulent activity. We share this information with a third-party service provider to assist us with this effort.<br>
    <br>
    <h3>Security</h3>
    <br>
    We have established safeguards to help prevent unauthorized access to or
    misuse of your Tron information, but cannot guarantee that this
    information will never be disclosed in a manner inconsistent with this
    Privacy Policy (for example, as a result of unauthorized acts by third
    parties that violate applicable law or the policies of the service and its
    affiliated providers).<br>
    <br>
    <h3>Special Note for Parents</h3>
    <br>
    Tron is intended for a general audience. Registration for certain
    services on Tron may not be available for children under the age of 13.<br>
    <br>
    <h3>California Online Privacy Protection Act Compliance</h3>
    <br>
    Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
    As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging your user account page https://www.tron.movie/user_account.php.
    <br> <br>
    <h3>How to Contact Us</h3>
    <br>
    If you have any questions or concerns about Tron's Privacy Policy or its
    implementation, you may contact us by going to the following link:
    <a href="https://www.tron.movie/contact" title="Contact Us">https://www.tron.movie/contact</a>.<br>
    You may opt out of Tron Emails here:: <a href="https://www.tron.movie/user_alerts">https://www.tron.movie/user_alerts</a>.<br>
    <br>
    <h3>Changes to this Privacy Policy and Additional Information</h3>
    <br>
    We may update this Privacy Policy from time to time, and so you should
    review this Policy periodically. If there are significant changes to
    Tron's information practices, you will be provided with appropriate
    online notice. You may be provided other privacy-related information in
    connection with your use of offerings from Tron, as well as for special
    features and services not described in this Policy that may be introduced
    in the future.<br>
  </div>
  <br>
  <button class="btn-custom" onclick="goBack()"><%= locale.btn_back %> </button>
  <br><br>
</div>

<%- include('../partials/footer') %>