<h1>test</h1>
<div class="box">
  <button class="btn">theater now</button>
  <ul class="data-list0"></ul>
</div>
<div class="box">
  <button class="btn">theater upcoming</button>
  <ul class="data-list1"></ul>
</div>
<div class="box">
  <button class="btn">movies trending</button>
  <ul class="data-list2"></ul>
</div>
<div class="box">
  <button class="btn">movies popular</button>
  <ul class="data-list3"></ul>
</div>

<script src="../js/test.js"></script>